# Numbers & Bools

There are three basic number types in Python:


1.   Integer
2.   Float
3.   Complex

## Integers

In [1]:
# add two integers together
2 + 4

6

In [3]:
# verify data types using the type() function
a = 2 + 4
print(a)

6

## Floats

In [4]:
# add two floats together
1.2 + 4.3

5.5

In [5]:
# verify data types using the type() function
b = 1.2 + 4.3
type(b)

float

## Bools

In [6]:
# write a True boolean value as text
True

# write a False boolean value as text
False

False

## The `bool()` function

`False` can also be notated as `0`, and `True` can be represented as `1`. Try converting 0 and 1 to boolean values using the `bool()` function.

In [7]:
# write a True boolean value as number
bool(1)

True

In [8]:
# write a False boolean value as number
bool(0)

False

## Using the `type()` function
Verify you are working with boolean values using the `type()` function below.

In [11]:
# return the data type for bool(1)
type(True)

bool

In [12]:
# assign bool(1) to the variable name: a_bool
a_bool = bool(1)

In [13]:
# verify that a_bool is a bool data type
type(a_bool)

bool